.header{
    display: flex;
    flex-direction: row;
    margin: 64px;
}

.title{
    color: white;
    font-size: 64px;
}

.description{
    border-left: 2px solid blue;
}

.details-info{
    list-style: none;
    display: flex;
    flex-direction: row;
}