.navbar{
    background-color: rgb(26, 26, 26);
    box-shadow: 2px 2px 2px 1px rgba(250, 249, 249, 0.2);
    width: 100%;
}

.favorites{
    list-style-type: none;
    margin: 16px;
    padding: 8px;
    background-color: grey;
    color: white;
    border-radius: 8px;
    top: 64px;
    right:0%;
    position: absolute;
    z-index: 10;
    min-width: 200px;
}

.favorite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.trash{
    border-radius: 8px;
    color:#a54646;
    border-color: #a54646;
    float:right;
    background-color: white;
}
